https://media.ft.tc/characters/688f57e9d1c33e060586a7e8/688fe03798d2753044692a32/1754259886896_kira_chen_portrait.jpg

https://v3.fal.media/files/koala/55dUSukN4kZ5clPIeNN5T_speech.mp3 3s
https://v3.fal.media/files/elephant/eiBMErAqKG2Kh4Czu5d_q_speech.mp3 6s
https://v3.fal.media/files/penguin/eq_30EegcRZHJbXwOjeo9_output.mp4 5s video

veed - unsacceptable. too much jagginess

fal-ai/tavus/hummingbird-lipsync/v0 - acceptable. best till now $2/min Moushey Ranking: acceptable
creatify/lipsync - acceptable. has some jagginess $1/min Moushey Ranking: fakey
fal-ai/sync-lipsync -   $0.70/min Moushey Ranking: 2nd best
fal-ai/pixverse/lipsync - $0.24/min Moushey Ranking: best